:root {
    min-height: 100dvh; 
    display: grid;
    place-items: center;
    grid-template-rows: auto 1fr auto; 
}

header {
    min-width: 320px;
    max-width: 800px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}
header .coins {
    margin: 0;
    font-size: 2rem;
}

.slot-container {
    display: grid;
    place-items: center;
    margin: 0 0 10px;
}

.play-result {
    width: auto;
    transform: translateY(43px);
    padding: 0 2px;
    margin: 0;
    font-size: 25px;
    color: #3ff63f;
}

.slot {
    max-width: 700px;
    min-width: 200px;
    height: 300px;
    margin: 0 0 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    background: url(https://i.postimg.cc/CK281Y28/slot.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.slot__shape {
    --shape: 34px;
    width: var(--shape);
    height: var(--shape);
    margin-bottom: 34px;
    display: grid;
    place-items: center;
}
.slot__shape > img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.slot-container button {
    width: 180px;
    padding: 0;
    font-size: 2rem;
    color: #000 !important;
}
